<!-- delete.html -->
<!--<div class="jumbotron text-center">-->
    <!--<h1>Contractor delete Page</h1>-->

    <!--<p>{{ message }}</p>-->
<!--</div>-->

<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 text-center">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1"><input type="number" ng-model="contractorId" class="form-control" id="inputId"
                                                                      placeholder="ctr id"></div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" ng-click="deleteContractor()" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-5"></div>
        </div>
    </div>
</div>
</body>