<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>DEMO</title>
</head>
<body>
<div align="center" >

    <div id="header" >
        <h2>IT Contractors Manager</h2>
    </div>

    <div id="company">
        <h3><br></br>Company Controller</h3>
        <!--<h5>@GET    @POST   @PUT    @DELETE</h5>-->
        <p>@GET     /company     -- return list of company</p>
        <p>@GET     /company/{id}     -- return single company</p>
        <p>@POST    /company     -- add a company (json body required)</p>
        <p>@PUT     /company     -- edit company (json body required)</p>
        <p>@DELETE     /company{id}     -- delete company</p>
        <p>@PUT     /company/{companyId}/contractor/{contractorId}     -- add contractor to company</p>
    </div>

    <div id="contractor">
        <h3><br></br>Contractor Controller</h3>
        <!--<h5>@GET    @POST   @PUT    @DELETE</h5>-->
        <p>@GET     /contractor     -- return list of contractor</p>
        <p>@GET     /contractor/{id}     -- return single contractor</p>
        <p>@POST    /contractor     -- add a contractor (json body required)</p>
        <p>@PUT     /contractor     -- edit contractor (json body required)</p>
        <p>@DELETE     /contractor{id}     -- delete contractor</p>
    </div>

    <div id="footer">
        <br></br>
        <br></br>
        Copyright © Mariusz Sowa
    </div>


</div>

</body>
</html>