<!-- index.html -->
<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="scripts/script.js" ></script>
</head>
<body ng-controller="mainController">

<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Contractors Manager</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p class="text-primary text-center">COMPANY</p>
            </div>
            <div class="col-md-3">
                <p class="text-primary text-center">CONTRACTOR</p>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#company/get" type="button" class="btn btn-primary">GET</a>
                    <a href="#company/post" type="button" class="btn btn-warning">POST</a>
                    <a href="#company/put" type="button" class="btn btn-info">PUT</a>
                    <a href="#company/delete" type="button" class="btn btn-success">DELETE</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#contractor/get" type="button" class="btn btn-primary">GET</a>
                    <a href="#contractor/post" type="button" class="btn btn-warning">POST</a>
                    <a href="#contractor/put" type="button" class="btn btn-info">PUT</a>
                    <a href="#contractor/delete" type="button" class="btn btn-success">DELETE</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-lg btn-link" href="#addContractorToCompany"><i class="fa fa-star fa-fw"></i>Add Contractor To Company</a>
    </div>
</div>
<br>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    <div ng-view></div>

    <!-- angular templating -->
    <!-- this is where content will be injected -->

</div>

</body>
</html>